/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

a:visited,
a:link {
	color: theme('colors.primary.500') !important;
}
a:active,
a:focus {
	color: theme('colors.primary.700') !important;
}

.details-entry {
	margin-top: 10px;
}
