/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

a:visited,
a:link {
	color: theme('colors.primary.500') !important;
}
a:active,
a:focus {
	color: theme('colors.primary.700') !important;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.details-entry {
	margin-top: 10px;
}
